# Tuples

In [1]:
t = (1,2,3)

In [2]:
t

(1, 2, 3)

In [3]:
type(t)

tuple

In [4]:
t.index(89)

ValueError: tuple.index(x): x not in tuple

In [5]:
t.count(1)

1

In [6]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

In [7]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

# Sets in Python

In [8]:
x = set()

In [9]:
x.add(3)

In [10]:
dir(x)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [11]:
x.add(2)

In [12]:
x

{2, 3}

In [13]:
l = [1,1,2,2,3,4,5,6,1,1]

In [14]:
set(l)

{1, 2, 3, 4, 5, 6}

# Dictionaries in Python

In [15]:
my_dict = {True:'value1','key2':'value2','key1':'valuedfvdfg','key1':'abc'}
my_dict

{True: 'value1', 'key2': 'value2', 'key1': 'abc'}

In [16]:
my_dict['key2']

'value2'

In [17]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [18]:
my_dict['key2'][2]

33

In [19]:
my_dict['key3'][0]

'item0'

In [20]:
my_dict['key3'][0].upper()

'ITEM0'

In [21]:
my_dict['key1']

123

In [22]:
my_dict['key1'] = my_dict['key1'] - 123

In [23]:
my_dict['key1']

0

In [24]:
my_dict['key1'] -= 123 # my_dict['key1'] = my_dict['key1'] - 123
my_dict['key1']

-123

In [25]:
d = {}
type(d)

dict

In [26]:
d['animal'] = 'xyz'
d

{'animal': 'xyz'}

In [27]:

d['answer'] = 42

In [29]:
d

{'animal': 'xyz', 'answer': 42}

In [30]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [31]:
d['key1']['nestkey']['subnestkey']

'value'

In [32]:
d = {'key1':1,'key2':2,'key3':3}

In [33]:
f=d.keys()
list(f)

['key1', 'key2', 'key3']

In [34]:
type(d.values())

dict_values

In [35]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [36]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Functions in Python

In [37]:
def say_hello():
    print('hello')

In [38]:
say_hello()

hello

In [42]:
def greeting(name, roolno):
#     print('Hello %d' %name)
    print('Hello {}'.format(name))

In [43]:
x = greeting("90", 6456)

Hello 90

In [44]:
x

In [45]:
def add_num(num1,num2):
    return num1+num2

In [46]:
a = add_num(4,5)

In [47]:
a

9

In [48]:
result = add_num(4,5)
result

9

In [49]:
print(result)

9

In [50]:
print(add_num('one',1))

TypeError: can only concatenate str (not "int") to str

# Iterators

In [56]:
list=[1,2,3,4,5]

In [52]:
for i in list:
    print(i)

1
2
3
4
5

In [57]:
iterable=iter(list)

In [54]:
iterable

In [55]:
for i in iterable:
    print(i)

1
2
3
4
5

In [58]:
next(iterable)

1

# Generators

In [59]:
def square(n):
    for i in range(n):
        yield i**2

In [60]:
a=square(5)

In [61]:
for i in square(5):
    print(i)

0
1
4
9
16

In [62]:
next(a)

0

# Map in Python

In [64]:
def even_or_odd(num):
    if num%2==0:
        print("Even")
    else:
        print("Odd")

In [65]:
even_or_odd(24)

Even

In [70]:
def even_or_odd(num):
    if num%2==0:
        print("Even")
    else:
        print("Odd")

In [71]:
a=[1,2,3,4,5,6,7,8,9,10]

In [72]:
map(even_or_odd,a)

In [73]:
list(map(even_or_odd,a))

TypeError: 'list' object is not callable

# Filter function in python

In [74]:
def even(num):
    if num%2==0:
        return True

In [75]:
b=[1,2,3,4,5,6,7,8,9,10]

In [76]:
filter(even,b)

In [77]:
list(filter(even,b))

TypeError: 'list' object is not callable

# Lambda function in python

In [78]:
a=[1,2,3,4,5,6,7,8,9,10]

In [79]:
filter(lambda num:num%2==0,a)

In [80]:
list(filter(lambda num:num%2==0,a))

TypeError: 'list' object is not callable

# Reduce in python

In [81]:
from functools import reduce
lst =[1,2,3,4,5,6,7,8,9,10]
reduce(lambda a,b: a+b,lst)

55